@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------------------------
              Note
------------------------------ */

.note {
  background-color: #FEF9C3;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

/* ------------------------------
            Notes-list
------------------------------ */

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* ------------------------------
            Add-note
------------------------------ */

.note.new-note {
  background-color: #ffe4f4;
}

textarea {
  background-color: #f3cfe4;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #f582c5;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 5px;
}

.save:hover {
  background-color: #f582c5ad;
  cursor: pointer;
}

/* ------------------------------
            Search
------------------------------ */

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}

/* ------------------------------
            Header
------------------------------ */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------
            Filters
------------------------------ */

.filters{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  max-width:950px
}

.button{

}